.app{
    background-color: orange;
    margin: auto;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    min-width: 400px;
    max-width: 500px;
    border: 2px solid black;  
    box-shadow: 20px 20px 20px #000000;

}

.textarea{
    border-radius: 20px;
    border: 2px solid black;
    height: 80px;
    background-color: #dadada;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
    margin-bottom: 28px;
}

.rowOperation {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 4px;
    flex: 1;
}

.row {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 4px;
    flex: 1;
    flex-wrap: wrap;
    gap: 4px;
}

.operation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: orange;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    min-width: 40px;
    padding: 20px;
}

.operation:hover {
    box-shadow: inset 0 0 10px #000000;
    transform: scale(1.1);
}

.button:hover {
    box-shadow: inset 0 0 10px #000000;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    min-width: 60px;
    border-radius: 20px;
    background-color: orange;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 16px;
}


.label{
    transform: rotate(90deg);
    font-size: 24px;
    position:absolute;
    bottom: 215px;
    right: -80px; 
    width: 285px;
    padding: 12px 10px;
    background-color: yellow;
    border-radius: 20px;
    border: 2px solid black;
    z-index: 10;

}

.value {
    position: absolute;
    top : 45px;
    left: 40px;
    padding: 16px;
    font-weight: bold;
    background: aqua;
}

img{
    margin: auto 10px;
}