.App {
    width: 100px;
    height: 100px;
    display: flex;
    background: aliceblue;
    text-align: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 4px;
}

.plus {
    cursor: pointer;
    padding: 10px;
    background: black;
    color: white;
}

.minus {
    cursor: pointer;
    padding: 10px;
    background: black;
    color: white;
}

.value {
    position: absolute;
    top : 45px;
    left: 40px;
    padding: 16px;
    font-weight: bold;
    background: aqua;
}